@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add a custom font stack for elegance */
body {
  font-family: "Inter", sans-serif;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
